<div>League Totals</div>



<div>Points Scored: <%= @team.PF %></div>
<div>Total Pass Yards: <%= @team.TotPaYds %></div>
<div>Total Rushing Yards: <%= @team.TotRuYds %></div>
<div>Total 1st Downs: <%= @team.Tot1stD %></div>

<div>Pass PPU: <%= ((@team.PF).to_f/(@team.TotPaYds).to_f) %></div>
<div>Rush PPU: <%= ((@team.PF).to_f/(@team.TotRuYds).to_f) %></div>
<div>1st Down PPU: <%= ((@team.PF).to_f/(@team.Tot1stD).to_f) %></div>



