<div>Rank: <%= @teamd.Rk %></div> 
<div>Team: <%= @teamd.Tm %></div>
<div>Games played: <%= @teamd.G %></div>
<div>Points Scored: <%= @teamd.PF %></div>
<div>Total Turnovers: <%= @teamd.TotTO %></div>
<div>Fumbles Lost: <%= @teamd.FL %></div>
<div>Total Pass Yards: <%= @teamd.TotPaYds %></div>
<div>Passing Touchdowns: <%= @teamd.PaTD %></div>
<div>Ints: <%= @teamd.Int %></div>
<div>Passing 1st Downs: <%= @teamd.Pa1stD %></div>
<div>Passing Yards per Game: <%= @teamd.PaYdsG %></div>
<div>Total Rushing Yards: <%= @teamd.TotRuYds %></div>
<div>Rushing yards per Game: <%= @teamd.RuYdsG %></div>
<div>Rushing TDs: <%= @teamd.RuTD %></div>
<div>Rushing 1st Downs: <%= @teamd.Ru1stD %></div>
<div>First Downs by Penalty: <%= @teamd.FirstByPen %></div>
<div>Total 1st Downs: <%= @teamd.Tot1stD %></div>
