
<div>Rank: <%= @teamo.Rk %></div> 
<div>Team: <%= @teamo.Tm %></div>
<div>Games played: <%= @teamo.G %></div>
<div>Points Scored: <%= @teamo.PF %></div>
<div>Total Turnovers: <%= @teamo.TotTO %></div>
<div>Fumbles Lost: <%= @teamo.FL %></div>
<div>Total Pass Yards: <%= @teamo.TotPaYds %></div>
<div>Passing Touchdowns: <%= @teamo.PaTD %></div>
<div>Ints: <%= @teamo.Int %></div>
<div>Passing 1st Downs: <%= @teamo.Pa1stD %></div>
<div>Passing Yards per Game: <%= @teamo.PaYdsG %></div>
<div>Total Rushing Yards: <%= @teamo.TotRuYds %></div>
<div>Rushing yards per Game: <%= @teamo.RuYdsG %></div>
<div>Rushing TDs: <%= @teamo.RuTD %></div>
<div>Rushing 1st Downs: <%= @teamo.Ru1stD %></div>
<div>First Downs by Penalty: <%= @teamo.FirstByPen %></div>
<div>Total 1st Downs: <%= @teamo.Tot1stD %></div>
